<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация об авторе</title>
</head>
<body>
    <div class="info-box">
        <h1>Информация об авторе</h1>
        
        <div class="info-item">
            <span class="label">Имя автора:</span> {{ author.name }}
        </div>
        
        <div class="info-item">
            <span class="label">Учебная группа:</span> {{ author.group }}
        </div>
        
        <div class="info-item">
            <span class="label">Версия приложения:</span> {{ app.version }}
        </div>
    </div>
</body>
</html>
