<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об авторе</title>
</head>
<body>
    <div>
        <h1>Информация об авторе</h1>
        
        <div class="info-item">
            <span class="label">Имя автора:</span> {{ author_name }}
        </div>
        
        <div class="info-item">
            <span class="label">Учебная группа:</span> {{ group }}
        </div>
        
        <div class="info-item">
            <span class="label">Версия приложения:</span> {{ app }}
        </div>
    </div>
</body>
<a href="/">На главную</a>
</html>