<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Курсы валют</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Курсы валют</h1>

    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <table border="1">
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Курс (RUB)</th>
        </tr>
        {% for c in currencies %}  <!-- ← именно currencies -->
        <tr>
            <td>{{ c.char_code }}</td>
            <td>{{ c.name }}</td>
            <td>{{ "%.2f"|format(c.value) }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>